# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [12]:
from faker import Faker
import numpy as np
import random
fake = Faker()
class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        
        if df is None:
            df=pd.DataFrame(index=np.arange(rows))
            self.df=df
        else:
            self.df = df
            
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        df[column_name]=[np.random.randint(small_value,high_value) for i in range(len(df))]
        return self.df       
    
        
    def add_first_name(self, column_name):
        """
        adds fake first name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        df[column_name]=[fake.first_name() for i in range(len(df))]
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        df[column_name]=[fake.last_name() for i in range(len(df))]
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        df[column_name]=[fake.email() for i in range(len(df))]
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        def gen_phone():
            
            first = str(random.randint(100,999))
            second = str(random.randint(1,888)).zfill(3)
            last = (str(random.randint(1,9998)).zfill(4))
            while last in ['1111','2222','3333','4444','5555','6666','7777','8888']:
                last = (str(random.randint(1,9998)).zfill(4))
            return '+1 {}-{}-{}'.format(first,second, last)
            
        df[column_name]=[gen_phone() for i in range(len(df))]
        return self.df
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        df[column_name]=[fake.address() for i in range(len(df))]
        return self.df

In [13]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [14]:
len(df)

25

In [15]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('number',1,100)

,product_id,shipping_address,billing_address,customer_phone,number
0,123,"8926 Michael Neck Suite 592\nGutierrezberg, IA...","65418 Simon Green Apt. 080\nHoltville, WA 75597",+1 985-240-9571,89
1,124,"PSC 0883, Box 7308\nAPO AE 52212","546 Villanueva Mall\nRobertsville, TX 79143",+1 555-475-9431,4
2,125,"92243 Julia Brook\nPort Danielshire, DE 97657","5964 Denise Courts Apt. 113\nErinchester, MA 4...",+1 379-643-3400,22
3,126,"6060 Christina Junction\nZimmermanshire, AR 96932","2443 Nathaniel Path Suite 159\nRamirezburgh, N...",+1 612-352-4383,13
4,127,"39007 Cook Club Apt. 995\nRodriguezland, MT 73466","8960 Roger Alley Suite 258\nSouth Justin, MN 8...",+1 707-518-8198,13
5,128,"80205 David Road\nRichardstad, NE 32389",USS Valentine\nFPO AE 89412,+1 856-598-7788,76
6,129,520 Christina Shore Suite 201\nLake Tiffanybur...,"4491 Christopher Ramp\nLake Aprilstad, MT 06289",+1 791-435-5481,56
7,130,"5899 Peters Cove Suite 105\nNew Tyler, HI 04662","01539 Johnson Coves Apt. 134\nBallport, OR 08944",+1 671-023-2832,3
8,131,"1070 William Ford Suite 953\nLake Jesse, NY 56350","14929 Kathleen Corners\nMonicaville, DE 09906",+1 566-627-7819,73
9,132,"1693 Jensen Lights Apt. 664\nNorth Kevin, NJ 4...","91346 Elizabeth Lodge\nPhyllismouth, LA 60918",+1 689-675-2941,45
10,133,"521 Carrie Path Apt. 933\nSouth Lindseyburgh, ...","1173 Stephen Land\nSouth Douglasside, MT 26167",+1 436-146-2074,56
11,134,"77151 Smith Crest Apt. 251\nRobertville, KS 38433","007 Ramsey Mews Suite 513\nRickton, OR 77458",+1 534-505-1067,5
12,135,"301 Keith Highway\nWest Joyce, VA 64490","51480 Jennifer Crest Suite 819\nWest Justin, P...",+1 144-745-3101,48
13,136,"4935 Richard Spurs\nPowersmouth, ME 44664","1290 Ryan Inlet\nMcdowellstad, CO 73207",+1 691-792-1868,21
14,137,"74882 Dylan Lodge Apt. 470\nJennifertown, FL 2...","PSC 5824, Box 9484\nAPO AP 21815",+1 747-148-6947,39
15,138,"267 Massey Village\nThomaschester, MS 42066","20871 Carey Villages\nSchroederborough, NC 89351",+1 539-281-0761,30
16,139,"09796 Johnson Corners\nSouth Michelle, NE 84962","PSC 2208, Box 9246\nAPO AE 04587",+1 495-548-5671,65
17,140,61102 Maldonado Flat Suite 542\nSouth Davidmou...,Unit 7641 Box 8691\nDPO AP 44587,+1 956-064-3473,23
18,141,"1059 Turner Brook\nSingletonland, NM 38716","PSC 2696, Box 3850\nAPO AP 14082",+1 769-037-4385,25
19,142,"5348 Walker Manors Suite 339\nWest Mark, WI 87489","2522 Williams Flats\nJonathanton, NM 53700",+1 850-383-1122,72
20,143,"9929 Berry Row Apt. 846\nSandrafurt, FL 56904","24078 Duncan Vista\nWest Alexanderview, NH 66793",+1 311-557-5263,13
21,144,"2413 Bailey Mission\nRobertborough, OR 72844","1490 Kenneth Motorway\nWest Laurenfort, ME 32643",+1 229-826-6277,60
22,145,"1548 Dalton Port Apt. 010\nJacksontown, MA 09039","5510 Brett Cliff Suite 943\nSethbury, MD 02424",+1 600-583-8139,91
23,146,"092 Hunter Ridge Suite 098\nLake Laura, CA 38716","PSC 3570, Box 1388\nAPO AA 58045",+1 481-479-1291,89
24,147,Unit 0154 Box 5299\nDPO AA 89548,"425 Garcia Mountains\nVargasshire, NJ 10055",+1 858-238-0170,56

In [5]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_first_name('shipping_address')
fakeGen.add_first_name('shipping_address')
fakeGen.add_random_number('number',1,100)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [6]:
df.head()

,product_id,shipping_address,billing_address,customer_phone,number
0,123,Gregory,"018 Michael Avenue\nWest Veronica, MS 56002",+1 629-506-6433,15
1,124,Nicholas,"82622 Kennedy Grove\nLisashire, OK 67706",+1 454-424-6052,28
2,125,Zachary,"3987 Thompson Canyon\nLake Heather, UT 58955",+1 871-785-9706,45
3,126,Christopher,"5521 Ronald Centers\nEast Karen, PA 13198",+1 264-184-9051,50
4,127,Julia,"9713 Kara Station\nDanielleborough, CO 57557",+1 170-263-7556,46