In [13]:
import pandas as pd
import math
pd.__version__

'1.2.4'

CSV is based on 
https://www.bowl.com/Open_Championships/Open_Championships_Home/Past_Results_and_History/

Load the file into Pandas

In [17]:
data_url = "https://raw.githubusercontent.com/msaricaumbc/DS601_Fall21/main/Week04/data/bowling_stats.csv"

df = pd.read_csv(data_url, names=[1,2,3,4,5])
years = []
cities =  []
states = []
result = []
for i in df.itertuples():
    bool = pd.isnull(i[5])
    if bool is True:
            count =i[4]
    else:
            count = i[4]*1000 + i[5]
            years.append(i[1])
            cities.append(i[2])
            states.append(i[3])
            if math.isnan(count):
                  result.append("null")
            else:
                result.append(int(count))
final_df = pd.DataFrame({'Year': years, 'City': cities, 'State': states, 'Count' : result})
final_df.index = final_df.index + 1

In [18]:
final_df

    Year        City   State  Count
1   2018    Syracuse    N.Y.   7556
2   2017   Las Vegas    Nev.  10286
3   2016        Reno    Nev.   8063
4   2015     El Paso   Texas   7315
5   2014        Reno    Nev.   9024
..   ...         ...     ...    ...
90  1926      Toledo    Ohio   1876
91  1925     Buffalo    N.Y.   2200
92  1924     Chicago    Ill.   2132
93  1923   Milwaukee    Wis.   1956
94  1922      Toledo    Ohio   1126

[94 rows x 4 columns]

In [77]:
import matplotlib.pyplot as plt 

df_graph
years =[]
result =[]
for i in final_df.itertuples():
    
    if  i[1] == '1943-45':
            year = 1942 
            for j in range(1,4):
                years.append(int(1942 + j))
            result.append(0)
    elif i[4] == 'null':
            years.append(int(i[1]))
            result.append(0)
    else:
            years.append(int(i[1]))
            result.append(int(i[4])
df_graph = pd.DataFrame(result, index=years,columns=['count'])
df_graph.plot.bar(figuresize=(40,12))
plt.title('Matches held yearwise')
plt.xlabel('Year')
plt.ylabel('count')
plt.show()

SyntaxError: invalid syntax (<ipython-input-77-3784f3f63373>, line 19)